:root
{
	--color-bg: #282828;
	--color-white: white;
	--color-blue: #007DFF;
}

*
{
	background-color: var(--color-bg);
	color: var(--color-white);
}

bluebg
{
	background-color: var(--color-blue);
	color: var(--color-bg);
	padding-left: 4px;
	padding-right: 4px;
}
